@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  padding: 90px 69px;
}

.card-container{
  width: 270px;
  height: 350px;
  background-color: #FFFFFF;
  margin-bottom: 30px;
}

.card-top{
  width: 270px;
  height: 250px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.icon{
  width: 34px;
  height: 34px;
  position: relative;
  top: 12px;
  left: 224px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-top img{
  width: 80%;
  height: 80%;
  padding-left: 10%;
  object-fit: cover;
}

.card-top .add-cart{
  display: none;
  width: 100%;
  height: 35px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 35px;
  position: relative;
  top: -24px;
  opacity: 0.8;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 500;
  border-radius: 0px 0px 4px 4px;
}

.card-container:hover .card-top .add-cart{
  display: block;
}

.card-bottom{
  width: 270px;
  height: 100px;
}

.card-bottom-text{
  width: 195px;
  height: 84px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 16px;
}

.card-bottom-text h3, .card-bottom-text .price, .card-bottom-text .rate .reviews{
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}

.card-bottom-text .rate .rating{
  width: 100px;
  height: 20px;
  font-size: 20px;
  color: #FFAD33;
}

.card-bottom-text .rate{
  width: 100px;
  height: 20px;
  gap: 8px;
  display: flex;
  justify-content: space-between;
}